---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
  comments:
    min-spaces-from-content: 2
  comments-indentation: {}
  document-start:
    present: true
  document-end: disable
  empty-lines:
    max: 2
  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
